<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <contextName>rent</contextName>
    <property name="log.path" value="logs"/><!--部署的时候最好改为绝对位置-->
    <springProfile name="release">
        <!--配置打印sql-->
        <property name="log.path" value="/var/log/rent"/>
    </springProfile>
    <!--控制台日志输出配置-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--对输出日志进行格式化-->
        <encoder>
            <!--格式化输出：%d:表示日期    %thread:表示线程名     %-5level:级别从左显示5个字符宽度  %msg:日志消息    %n:是换行符-->
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss}) [%contextName] %green([%thread]) %highlight(%-5level)
                %boldMagenta(%logger{36}) - %cyan(%msg%n)
            </pattern>
            <charset>UTF-8</charset><!--此处设置字符集-->
        </encoder>
    </appender>

    <!--文件日志输出配置-->
    <appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/info/info-%d-%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%contextName] [%thread] [%-5level] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="warnFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/warn/warn-%d-%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%contextName] [%thread] [%-5level] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/error/error-%d-%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%contextName] [%thread] [%-5level] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--指定日志输出等级-->
    <root level="info"><!-- 此时debug级别的信息会被过滤 -->
        <appender-ref ref="console"/>
        <appender-ref ref="infoFile"/>
    </root>
    <root level="warn">
        <appender-ref ref="console"/>
        <appender-ref ref="warnFile"/>
    </root>
    <root level="error">
        <appender-ref ref="console"/>
        <appender-ref ref="errorFile"/>
    </root>

    <logger name="com.scrats.rent" level="debug">
        <appender-ref ref="infoFile"/>
    </logger>
    <springProfile name="test,dev">
        <!--配置打印sql-->
        <logger name="com.scrats.rent.dao" level="debug" additivity="false">
            <appender-ref ref="console"/>
        </logger>
    </springProfile>
</configuration>
